<header id="header" class="responsive-tabs header w-full flex flex-row justify-between items-center bg-grey-light p-1 px-6 border-b border-purple-darker bg-purple-darkest">
	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
</header>
