.activity-entry {
   @apply .bg-white .shadow .border-solid .border-t-4 .border-grey .px-3 .mb-8;

}

.activity-entry__post {

   h5 {
      @apply .text-grey-darker .text-xs .tracking-wide .font-bold .mb-1;
   }
}

.activity-entry__status {
   @apply .uppercase .text-red-light .text-xs .mb-0 .tracking-wide .tracking-wide .font-bold .text-grey-darker;

}

.activity-entry__tab {

   @apply .flex .justify-between .items-center .h-12 .border-grey .border-b .mb-3;


   &.activity-entry__tab--expanded {
      svg {
         transform: rotate(0deg);
      }
   }

   &.activity-entry__tab--collapse {
      @apply .border-0;

      svg {
         transform: rotate(180deg);
      }
   }

}

.activity-entry__tab--collapse+.activity-entry__log {
   @apply .hidden;
}

.activity-entry__tab--expand+.activity-entry__log {
   @apply .visible;
}

.workspace-item {
   @apply .py-3 .border-transparent .border-2;
   transition: all .15s ease;

   .workspace-item__top {
      @apply .w-full .flex .justify-end .pr-6;

   }

   .workspace-item__top--inactive {

      .workspace-item__comment-block {
         @apply .hidden;
      }
   }

   .workspace-item__input {
      label {
         @apply .block .uppercase .tracking-wide .text-grey-darker .text-xs .font-bold .mb-2;
      }
      input[type=text] {
         @apply .appearance-none .block w-full .bg-grey-lighter .text-grey-darker .border .border-grey-lighter .rounded .py-3 .px-4 .mb-3 .leading-tight;

         &:focus {
            @apply .outline-none .bg-white;
         }
      }
      p {
         @apply .text-xs .italic;
      }
   }

   .workspace-item__input--verify {
      label {
         @apply .text-blue;
      }
      input[type=text] {
         @apply .border-blue ;

         &:focus {
            @apply .outline-none .bg-white;
         }
      }
      p {
         @apply .text-blue .text-xs .italic;
      }
   }

   .workspace-item__input--error {
      label {
         @apply .text-red;
      }
      input[type=text] {
         @apply .border-red ;

         &:focus {
            @apply .outline-none .bg-white;
         }
      }
      p {
         @apply .text-red .text-xs .italic;
      }
   }

   .workspace-item__reveal {
      @apply .invisible .inline-block .uppercase .tracking-wide .text-blue .text-xs .font-bold .ml-3 .mb-6;
   }

   &:hover {
      @apply .border-blue .border-2;

      .workspace-item__reveal {
         @apply .visible;

      }

   }
}


.responsive-tabs {
   @apply .w-screen .whitespace-no-wrap .overflow-x-auto .scrolling-touch;
}

.activity-entry__thread {
   @apply .py-2 .border-t .border-grey;

   .activity-entry__comment:nth-child(odd) {
      @apply .mt-4 .border-r-2 .border-blue-lighter pr-1;

      .activity-entry__id {
         @apply .flex-row-reverse;
      }
   }

   .activity-entry__comment:nth-child(even) {
      @apply .border-l-2 .border-blue-lighter pl-1;

      .activity-entry__id {
         @apply .flex-row;
      }
   }
}