---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: Welcome to the FM Global Universal Front-End
dash_1: /images/art/poco-sketch-1.png
dash_2: /images/art/poco-sketch-2.png
dash_3: /images/art/poco-sketch-3.png
---

<main id="main" class="main m-auto flex flex-1 flex-col md:flex-row py-10">

   <section id="container-centre" class="flex-1">

      <section class="mb-6 bg-grey-darkest text-white rounded py-4 px-4" role="alert">
         <div class="items-center flex leading-none">
            <div class="rounded-full h-6 w-6 mr-2 bg-grey-light"></div>
            <span class="mr-2 w-full text-left mr-auto">New Feature! It is a long established fact that a reader will be distracted.<a href="#" class="ml-2 uppercase  text-blue float-right">read more</a>
            </span>
            <span class="ml-2 opacity-75 h-4 w-4">
               <i class="fas fa-times"></i>
            </span>
         </div>
      </section>

      <section class="mb-6 bg-white font-sans shadow">
         <div class="container max-w-xl m-auto flex flex-wrap md:flex-no-wrap items-center justify-center">
            <div class="w-1/5 py-6 px-6 text-center">
               <h2 class="text-5xl font-light my-0">39</h2>
               <span class="mb-4 text-sm inline-block uppercase text-grey-darkest tracking-wide">Pending Renewals</span>
               <a class="uppercase text-sm text-purple hover:text-indigo-darkest" href="">View All</a>
            </div>
            <div class="w-1/5 py-6 px-6 text-center">
               <h2 class="text-5xl font-light my-0">28</h2>
               <span class="mb-4  text-sm inline-block uppercase text-grey-darkest tracking-wide">Expiring Accounts</span>
               <a class="uppercase text-sm text-purple hover:text-indigo-darkest" href="">View All</a>
            </div>
            <div class="w-1/5 py-6 px-6 text-center">
               <h2 class="text-5xl font-light my-0">12</h2>
               <span class="mb-4 text-sm inline-block uppercase text-grey-darkest tracking-wide">Updated Documents</span>
               <a class="uppercase text-sm text-purple hover:text-indigo-darkest" href="">View All</a>
            </div>
            <div class="w-2/5 py-6 px-8 bg-purple-lighter ">
               <div class="flex">
                  <div class="w-3/5">
                     <span class="text-sm inline-block uppercase text-grey-darkest tracking-wide">Outstanding invoices</span>
                     <h2 class="text-3xl mb-0">20</h2>
                     <span class="text-xs uppercase text-grey-darkest tracking-wide">number reflects outstanding invoices.</span>
                  </div>
                  <div class="w-2/5">
                     <span class="ml-2">
                        <svg width="98px" height="44px" viewBox="0 0 98 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                           <g id="Dashboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Artboard" transform="translate(-863.000000, -180.000000)" stroke="#BD10E0" stroke-width="1.5">
                                 <g id="Graph" transform="translate(860.000000, 155.000000)">
                                    <polyline transform="translate(54.000000, 48.500000) scale(1, -1) rotate(15.000000) translate(-54.000000, -48.500000) " points="4 55.9831759 20.4169725 37.248273 37.0865916 43.8714214 54.0523008 36 70.6493737 56.2760889 82.6903169 52.2208711 90.7280934 61 95.6075826 56.2632282 104 56.2760889"></polyline>
                                 </g>
                              </g>
                           </g>
                        </svg>
                     </span>
                  </div>
               </div>
               <a class="mt-4 bg-purple hover:text-white hover:bg-indigo-darkest cursor-pointer text-sm text-center uppercase py-2 w-full text-white inline-block shadow">View Outstanding Invoices</a>
            </div>
         </div>
      </section>
      <section>
         <h1 class="text-center text-2xl font-normal mb-1">Hello Ariana! Welcome to back to Policy Connect.</h1>
         <p class="text-center text-xl text-grey-darker">From here you can check out the latest updates and announcements.</p>
      </section>

      <section class="font-sans container m-auto max-w-xl flex flex-col flex-wrap sm:flex-row justify-center">
         <div class="w-full sm:w-1/2 lg:w-1/3 text-center py-8 px-6">
            <img src="{{ dash_1 }}" class="w-32">
            <img src="" alt="">
            <p class="mt-2 mb-6 text-grey-darker">Elit aenean nec sem, nibh aptent, nulla viverra praesent sit.</p>
            <button class="bg-transparent hover:bg-black text-white bg-grey-darkest font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent w-full">View All Policies</button>
         </div>
         <div class="w-full sm:w-1/2 lg:w-1/3 text-center py-8 px-6">
            <img src="{{ dash_2 }}" class="w-32">
            <img src="" alt="">
            <p class="mt-2 mb-6 text-grey-darker">Elit aenean nec sem, nibh aptent, nulla viverra praesent sit.</p>
            <button class="bg-transparent hover:bg-black text-white bg-grey-darkest font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent w-full">Manage Payments</button>
         </div>
         <div class="w-full sm:w-1/2 lg:w-1/3 text-center py-8 px-6">
          <img src="{{ dash_3 }}" class="w-32">
            <img src="" alt="">
            <p class="mt-2 mb-6 text-grey-darker">Elit aenean nec sem, nibh aptent, nulla viverra praesent sit.</p>
            <button class="bg-transparent hover:bg-black text-white bg-grey-darkest font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent w-full">Track In-Process</button>
         </div>
      </section>

      {# include table-container #}
      {% include "components/table-container.njk" %}

      {# <section>
         <ul class="mb-12">
            <li>Tailwind CSS for beautiful and fast UI styling</li>
            <li>Gulp to watch and compile your Tailwind, SCSS &amp; JS files</li>
            <li>
               <a href="https://www.purgecss.com/">Purgecss</a> to remove any unused CSS</li>
            <li>HTML minifier</li>
            <li>{{ test.stuff }}</li>
            {% for item in navigation.main %}
               <li>
                  <a href="{{ item.url | safe }}" class="link font-bold text-black {% if page.url == item.url %}active text-purple-dark{% endif %}">{{ item.label }}</a>
               </li>
            {% endfor %}
         </ul>
      </section> #}
   </section>
</main>