---
layout: default
meta_title: Home
meta_description: Homepage description
body_class: home
title: Welcome to the FM Global Universal Front-End
---

<main id="main" class="main container m-auto flex flex-1 flex-col md:flex-row py-10 px-6 lg:px-0 lg:py-20">

   <section id="container-centre" class="flex-1">
      <section class="bg-grey text-grey-darkest py-4 lg:px-4" role="alert">
         <div class="items-center flex leading-none">
            <div class="rounded-full h-6 w-6 mr-2 bg-grey-light"></div>
            <span class="mr-2 text-left mr-auto">New Feature! It is a long established fact that a reader will be distracted.<a href="#" class="ml-2 uppercase text-black text-sm">read more</a>
            </span>
            <span class="opacity-75 h-4 w-4">
               <i class="fas fa-times"></i>
            </span>
         </div>
      </section>
      <section class="bg-white py-4 font-sans">
         <div class="container max-w-xl m-auto flex flex-wrap md:flex-no-wrap items-center justify-center">
            <h1 class="w-full md:w-1/4 font-medium tracking-normal mb-4 md:mb-0">Important<br>Stats</h1>
            <div class="w-1/3 md:w-1/4">
               <span class="text-xs inline-block mr-2 uppercase text-grey-darkest tracking-wide">clickrate</span>
               <h2 class="inline-block">34%</h2>
            </div>
            <div class="w-1/3 md:w-1/4">
               <span class="text-xs inline-block mr-2 uppercase text-grey-darkest tracking-wide">pageviews</span>
               <h2 class="inline-block">465</h2>
            </div>
            <div class="w-1/3 md:w-1/4">
               <span class="text-xs inline-block mr-2 uppercase text-grey-darkest tracking-wide">influence</span>
               <h2 class="inline-block">65%</h2>
            </div>
         </div>
      </section>

      <h1 class="page-title text-3xl">{{ title }}</h1>

      <div class="content">
         <p>A rapid prototyping system build with <a href="https://www.11ty.io">Eleventy</a> and <a href="https://tailwindcss.com">Tailwind CSS</a>.</p>

         <h2>Features</h2>

         <ul class="mb-12">
            <li>Tailwind CSS for beautiful and fast UI styling</li>
            <li>Gulp to watch and compile your Tailwind, SCSS &amp; JS files</li>
            <li>
               <a href="https://www.purgecss.com/">Purgecss</a> to remove any unused CSS</li>
            <li>HTML minifier</li>
            <li>{{ test.stuff }}</li>
            {% for item in navigation.main %}
               <li>
                  <a href="{{ item.url | safe }}" class="link font-bold text-black {% if page.url == item.url %}active text-purple-dark{% endif %}">{{ item.label }}</a>
               </li>
            {% endfor %}
         </ul>
      </div>
      <section class="font-sans container m-auto max-w-xl flex flex-col flex-wrap sm:flex-row justify-center">
         <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
            <label for="" class="uppercase tracking-loose font-bold text-sm">Basic Plan</label>
            <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">$29<span class="text-grey-dark font-light text-xs">/mo</span></h1>
            <p class="my-2 text-grey-darker">
               <strong class="text-black pr-2">5</strong>Projects</p>
            <p class="my-2 text-grey-darker">
               <strong class="text-black pr-2">20</strong>Images</p>
            <p class="mt-2 mb-6 text-grey-darker">
               <strong class="text-black pr-2">9/5</strong>Support</p>
            <button class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent">Buy Now</button>
         </div>
         <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
            <label for="" class="uppercase tracking-loose font-bold text-sm">Team Plan</label>
            <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">$59<span class="text-grey-dark font-light text-xs">/mo</span></h1>
            <p class="my-2 text-grey-darker">
               <strong class="text-black pr-2">10</strong>Projects</p>
            <p class="my-2 text-grey-darker">
               <strong class="text-black pr-2">40</strong>Images</p>
            <p class="mt-2 mb-6 text-grey-darker">
               <strong class="text-black pr-2">12/7</strong>Support</p>
            <button class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent">Buy Now</button>
         </div>
         <div class="w-full sm:w-1/2 lg:w-1/4 text-center py-8">
            <label for="" class="uppercase tracking-loose font-bold text-sm">Corporate Plan</label>
            <h1 for="" class="uppercase tracking-loose font-bold text-5xl my-2">xxx<span class="text-grey-dark font-light text-xs">/mo</span></h1>
            <p class="my-2 text-grey-darker">
               <strong class="text-black pr-2">Unlimited</strong>Projects</p>
            <p class="my-2 text-grey-darker">
               <strong class="text-black pr-2">Unlimited</strong>Images</p>
            <p class="mt-2 mb-6 text-grey-darker">
               <strong class="text-black pr-2">24/7</strong>Support</p>
            <button class="bg-transparent hover:bg-black text-black-dark font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent">Buy Now</button>
         </div>
      </section>
      <div class="card flush dossier-for-mobile">
         <div class="dossier-table-wrapper">
            <table class="dossier has-checkboxes">
               <thead>
                  <tr>
                     <th class="checkbox-col">
                        <input type="checkbox" id="checkbox-all">
                        <label for="checkbox-all"></label>
                     </th>
                     <th class="column-title active column-sortable"> Title <i class="icon icon-chevron-up"></i>
                     </th>
                     <th class="column-slug column-sortable"> Slug</th>
                     <th class="column-count column-sortable"> Count</th>
                     <th class="column-actions"></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td class="checkbox-col">
                        <input type="checkbox" id="checkbox-0">
                        <label for="checkbox-0"></label>
                     </td>
                     <td class="cell-title first-cell">
                        <span class="column-label">Title</span>
                        <span class="has-status-icon">
                           <span class="status status-live" title="Published"></span>
                           <a class="has-status-icon" >Branding</a>
                        </span>
                     </td>
                     <td class="cell-slug">
                        <span class="column-label">Slug</span>
                        <span>branding</span>
                     </td>
                     <td class="cell-count">
                        <span class="column-label">Count</span>
                        <span>3</span>
                     </td>
                     <td class="column-actions">
                        <div class="btn-group action-more">
                           <button type="button" class="btn-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-dots-three-vertical"></i>
                           </button>
                           <ul class="dropdown-menu">
                              <li>
                                 <a href="">Edit</a>
                              </li>
                              <li class="warning">
                                 <a href="#">Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="checkbox-col">
                        <input type="checkbox" id="checkbox-1">
                        <label for="checkbox-1"></label>
                     </td>
                     <td class="cell-title first-cell">
                        <span class="column-label">Title</span>
                        <span class="has-status-icon">
                           <span class="status status-live" title="Published"></span>
                           <a class="has-status-icon" >Experiences</a>
                        </span>
                     </td>
                     <td class="cell-slug">
                        <span class="column-label">Slug</span>
                        <span>experiences</span>
                     </td>
                     <td class="cell-count">
                        <span class="column-label">Count</span>
                        <span>8</span>
                     </td>
                     <td class="column-actions">
                        <div class="btn-group action-more">
                           <button type="button" class="btn-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-dots-three-vertical"></i>
                           </button>
                           <ul class="dropdown-menu">
                              <li>
                                 <a>Edit</a>
                              </li>
                              <li class="warning">
                                 <a href="#">Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td class="checkbox-col">
                        <input type="checkbox" id="checkbox-2">
                        <label for="checkbox-2"></label>
                     </td>
                     <td class="cell-title first-cell">
                        <span class="column-label">Title</span>
                        <span class="has-status-icon">
                           <span class="status status-live" title="Published"></span>
                           <a class="has-status-icon">Products</a>
                        </span>
                     </td>
                     <td class="cell-slug">
                        <span class="column-label">Slug</span>
                        <span>products</span>
                     </td>
                     <td class="cell-count">
                        <span class="column-label">Count</span>
                        <span>5</span>
                     </td>
                     <td class="column-actions">
                        <div class="btn-group action-more">
                           <button type="button" class="btn-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon icon-dots-three-vertical"></i>
                           </button>
                           <ul class="dropdown-menu">
                              <li>
                                 <a>Edit</a>
                              </li>
                              <li class="warning">
                                 <a href="#">Delete</a>
                              </li>
                           </ul>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>

   </section>

</main>