---
layout: default
---

<main id="main" class="main flex flex-1 flex-row">

   <section class="w-full ">
      <div class="policy-header block md:inline-flex bg-grey-lighter w-full px-6 pb-4">
         <div class="my-2 mr-10">
            <label class="block uppercase text-sm leading-loose tracking-wide">Account Name – Territory</label>
            <span class="block text-xl font-bold text-purple">{{ account_name }} – {{ territory }}</span>
         </div>
         <div class="my-2 mr-10">
            <label class="block uppercase text-sm leading-loose tracking-wide">Account #</label>
            <span class="block text-normal font-bold text-grey-darkest">{{ account_number }}</span>
         </div>
         <div class="my-2 mr-10">
            <label class="block uppercase text-sm leading-loose tracking-wide">Policy #</label>
            <span class="block text-normal font-bold text-grey-darkest">{{ policy_number }}</span>
         </div>
         <div class="my-2 mr-10">
            <label class="block uppercase text-sm leading-loose tracking-wide">Worldreach Partner</label>
            <span class="block text-normal font-bold text-grey-darkest">{{ wrp_partner }}</span>
         </div>
         <div class="my-2 mr-10">
            <label class="block uppercase text-sm leading-loose tracking-wide">WRP Status</label>
            <span class="block text-normal font-bold text-purple">{{ wrp_status }}</span>
         </div>
      </div>
      <div class="workspace-area w-full">
         <div class="container--tabs ">
            <nav class="z-50 responsive-tabs">
               <ul class="list-reset flex nav-tabs">
                  <li class="mr-1">
                     <a class="py-2 px-8" href="#tab-1">Overview</a>
                  </li>
                  <li class="mr-1 active">
                     <a class="py-2 px-8" href="#tab-2">Confirmation of Renewal</a>
                  </li>
                  <li class="mr-1">
                     <a class="py-2 px-8" href="#tab-3">Invoice</a>
                  </li>
                  <li class="mr-1">
                     <a class="py-2 px-8" href="#tab-4">Policy</a>
                  </li>
                  <li class="mr-1">
                     <a class="py-2 px-8" href="#tab-5">File</a>
                  </li>
               </ul>
            </nav>
            <div class="tab-content">
               {# To be broken into partials #}
               <article id="tab-1" class=" border-t border-grey-light tab-pane">
                  <section class="flex">
                     <div class="w-full p-6">
                        <div>
                           <h2>Overview</h2>
                           <ul>
                              <li>Term: 01-Mar-2018 to 01-Mar-2019</li>
                              <li>Last updated: 15-Nov-2017 at 12:01 PM by George Glass</li>
                           </ul>
                        </div>
                     </section>
                  </article>

                  <article id="tab-2" class=" border-t border-grey-light tab-pane active">
                     {% include "components/workspace/summary-default.njk" %}
                  </article>

                  <article id="tab-3" class="border p-8 tab-pane">
                     <section class="flex">
                        <div class="w-full p-6">
                           <div>
                              <h2>Invoice</h2>
                              <ul>
                                 <li>Term: 01-Mar-2018 to 01-Mar-2019</li>
                                 <li>Last updated: 15-Nov-2017 at 12:01 PM by George Glass</li>
                              </ul>
                           </div>
                        </section>
                     </article>

                     <article id="tab-4" class=" border p-8 tab-pane">
                        <div class="mb-6 pt-6">
                           <h2>Policy</h2>
                           {{ content | safe }}
                        </div>
                     </article>

                     <article id="tab-5" class=" border p-8 tab-pane">
                        <div class="mb-6 pt-6">
                           <h2>Confirm</h2>
                           <ul>
                              <li>Term: 01-Mar-2018 to 01-Mar-2019</li>
                              <li>Last updated: 15-Nov-2017 at 12:01 PM by George Glass</li>
                           </ul>
                        </div>
                        <div class="flex w-full h-screen items-center justify-center bg-grey-lighter">
                           <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-white">
                              <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                 <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"/>
                              </svg>
                              <span class="mt-2 text-base leading-normal">Select a file</span>
                              <input type='file' class="hidden"/>
                           </label>
                        </div>
                     </article>
                  </div>
               </div>
            </div>
         </section>
      </main>

      <section class="md:fixed md:pin-b responsive-tabs bg-grey-lightest w-full flex flex-wrap border-t border-grey">
         <div class="w-full md:w-1/4">
            <a href="/" class="block text-grey-darker py-2 px-4 mt-4 mb-4 ml-6">❮ Discard Changes</a>
         </div>
         <div class="w-full md:w-3/4">
            <div class="float-right mr-8">
               <button class="bg-purple hover:bg-purple-darker text-white font-bold py-3 px-4 mt-4 mb-4 mr-6">Save Changes</button>
               <button class="bg-blue hover:bg-blue-dark text-white font-bold py-3 px-4 mt-4 mb-4 mr-6">Publish</button>
               <button class="bg-grey-light hover:bg-blue-dark text-white font-bold py-3 px-4 mt-4 mb-4">Complete</button>
            </div>
         </div>
      </section>