<section class="flex flex-wrap">
   <div class="w-full md:w-3/4 p-6">
      <div class="mb-6 pt-6">
         <h2 class="font-normal text-grey-darker">Confirmation of Renewal</h2>
         <ul class="flex justify-between list-reset border-grey pb-4 border-b">
            <li class="text-sm">Term: {{ term_span }}</li>
            <li class="text-sm">Last updated: 15-Nov-2017 at 12:01 PM by George Glass</li>
         </ul>
      </div>
      <form class="w-full" method="get" action="{{ validation_link }}">
         <div id="it-worked" class="workspace-item flex flex-wrap -mx-3 mb-2">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="workspace-item__input {% if to_verify %} workspace-item__input--verify {% endif %} {% if error_check %} workspace-item__input--error {% endif %} w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="" for="grid-first-name">WorldReach Partner</label>
               <input id="test-input" class="" id="grid-first-name" type="text" placeholder="" value="MAPFRE Sigorta A.S.">
               <p class="">Verify WorldReach Partner</p>
            </div>
            {% if validate %}
               <div class="workspace-item__validation w-full md:w-2/5 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label>
                  <ul class="list-reset mb-6">
                     <li class="flex flex-row">
                        <span class="flex mr-4 text-2xl font-bold text-green">✓</span>
                        <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span>
                     </li>
                     {% if error_check %}
                     <li class="flex flex-row">
                        <span class="flex mr-4 text-2xl font-bold text-red">✗</span>
                        <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span>
                     </li>
                    {% else %}
                     <li class="flex flex-row">
                        <span class="flex mr-4 text-2xl font-bold text-green">✓</span>
                        <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span>
                     </li>
                     {% endif %}
                  </ul>
               </div>
            {% endif %}
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="workspace-item__input {% if to_verify %} workspace-item__input--verify {% endif %} {% if error_check %} workspace-item__input--error {% endif %} w-full md:w-1/2 px-3">
               <label class="" for="grid-last-name">Partner notified of renewal</label>
               <input class="" id="grid-last-name" type="text" placeholder="" value="28-Feb-2018">
               <p class="">Verify Date of Partner Notified of Renewal</p>
            </div>
            {% if validate %}
               <div class="workspace-item__validation w-full md:w-2/5 px-3 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label>
                  <ul class="list-reset">
                     <li class="flex flex-row">
                        <span class="flex mr-4 text-2xl font-bold text-green">✓</span>
                        <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span>
                     </li>
                  </ul>
               </div>
            {% endif %}
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-3/5 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">State</label>
               <div class="relative">
                  <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                     <option>WRP Provided Retention Details</option>
                     <option>Missouri</option>
                     <option>Texas</option>
                  </select>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-city">WRP</label>
               <div class="relative">
                  <input class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-city" type="text" placeholder="" value="83.0125">
                  <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                     <span>%</span>
                  </div>
               </div>
            </div>
            <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-city">FM Global</label>
               <div class="relative">
                  <input class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-city" type="text" placeholder="" value="83.0125">
                  <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
                     <span>%</span>
                  </div>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">Qoute</label>
               <div class="relative">
                  <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                     <option>Select One</option>
                     <option>Missouri</option>
                     <option>Texas</option>
                  </select>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">Taxes</label>
               <div class="relative">
                  <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                     <option>Select One</option>
                     <option>Missouri</option>
                     <option>Texas</option>
                  </select>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal">Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">Tariff</label>
               <div class="relative">
                  <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                     <option>Select One</option>
                     <option>Missouri</option>
                     <option>Texas</option>
                  </select>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">Policy Reverse Flow?</label>
               <div class="relative">
                  <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                     <option>Select One</option>
                     <option>Missouri</option>
                     <option>Texas</option>
                  </select>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">Partner Approved Reverse Flow?</label>
               <div class="relative">
                  <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-grey" id="grid-state">
                     <option>Select One</option>
                     <option>Missouri</option>
                     <option>Texas</option>
                  </select>
               </div>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full mx-3 md:w-2/5 mb-2">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-state">Brokered?</label>
               <label class="text-xl text-grey-dark mr-2" for="1">No</label>
               <div class="form-switch inline-block align-middle">
                  <input type="checkbox" name="1" id="1" class="form-switch-checkbox"/>
                  <label class="form-switch-label" for="1"></label>
               </div>
               <label class="text-xl text-grey-dark" for="1">Yes</label>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full mx-3 md:w-2/5 mb-2">
               <label class="block uppercase tracking-wide  text-xs font-bold mb-2" for="grid-state">Reverse Flow</label>
               <label class="text-xl text-grey-dark mr-2" for="2">No</label>
               <div class="form-switch inline-block align-middle">
                  <input type="checkbox" name="2" id="2" class="form-switch-checkbox "/>
                  <label class="form-switch-label" for="2"></label>
               </div>
               <label class="text-xl text-grey-dark" for="2">Yes</label>
            </div>
            <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
               {# <label class="block uppercase tracking-wide text-grey-dark text-xs font-bold mb-2" for="grid-first-name">Please Verify</label> #}
               <ul class="list-reset">
                  <li class="flex flex-row">
                     {# <span class="flex mr-4 text-2xl font-bold text-green">✓</span> #}
                     {# <span class="flex text-grey-darker text-sm">Singapore law, prohibits non-admitted insurance business. Please try again.</span> #}
                  </li>
               </ul>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">Corprate Broker Contact</label>
               <textarea class="appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="story" name="story" rows="5" cols="33"></textarea>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 ">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">Corporate Client Contact</label>
               <textarea class="appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="story" name="story" rows="5" cols="33"></textarea>
            </div>

         </div>

         <div class="workspace-item flex flex-wrap -mx-3 py-4">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">Local Broker Contact</label>
               <textarea class="appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="story" name="story" rows="5" cols="33"></textarea>
            </div>
         </div>

         <div class="workspace-item flex flex-wrap -mx-3 py-4">
            <div class="workspace-item__top workspace-item__top--inactive">
               <div class="w-full">
                  <a href="{{ next_link }}" class="workspace-item__reveal" >Add New Comment</a>
               </div>
               <div class="workspace-item__comment-block">
                  <span class="block uppercase tracking-wide text-grey-dark text-xs font-bold mr-6" >15-Nov-2017 at 12:01 PM</span>
                  <a href="#test-comment">
                     <svg class="h-6 w-6 fill-current text-purple-light" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                           <g id="icon-shape">
                              <path d="M14,11 L8.00585866,11 C6.89706013,11 6,10.1081436 6,9.00798298 L6,1.99201702 C6,0.900176167 6.89805351,0 8.00585866,0 L17.9941413,0 C19.1029399,0 20,0.891856397 20,1.99201702 L20,9.00798298 C20,10.0998238 19.1019465,11 17.9941413,11 L17,11 L17,14 L14,11 Z M14,13 L14,15.007983 C14,16.1081436 13.1029399,17 11.9941413,17 L6,17 L3,20 L3,17 L2.00585866,17 C0.898053512,17 0,16.0998238 0,15.007983 L0,7.99201702 C0,6.8918564 0.897060126,6 2.00585866,6 L4,6 L4,8.99349548 C4,11.2060545 5.78916089,13 7.99620271,13 L14,13 Z" id="Combined-Shape"></path>
                           </g>
                        </g>
                     </svg>
                  </a>
               </div>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
               <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">Local Client Contact</label>
               <textarea class="appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="story" name="story" rows="5" cols="33"></textarea>
            </div>
         </div>
         <input type="submit" style="display: none" />
      </form>
   </div>

   {% if comments %}
      {% include "components/log/activity.njk" %}
   {% else %}
      <div class="w-full md:w-1/4">
         <div class="invisible md:visible fixed pin-b pin-r mb-24 mr-10">
            <a href="{{ next_link }}" class="inline-block uppercase tracking-wide text-blue text-sm font-bold">Add New Comment</a>
         </div>
      </div>
   {% endif %}
</section>