<div class="">
   <div class="">
      <table class="dossier has-checkboxes">
         <thead>
            <tr>
               {# Checkbox Table Header #}
               {# <th class="checkbox-col">
                  <input type="checkbox" id="checkbox-all">
                  <label for="checkbox-all"></label>
               </th> #}
               <th>Account Name</th>
               <th>FM Policy No.</th>
               <th>Local Policy No.</th>
               <th>Effective Dates</th>
               <th>Status</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               {# Checkbox Table Col #}
               {# <td class="">
                  <input type="checkbox" id="checkbox-0">
                  <label for="checkbox-0"></label>
               </td> #}
               <td class="">
                  <span class="column-label">Account Name</span>
                  <span class="has-status-icon">
                     {# <span class="status status-live" title="Published"></span> #}
                     <a href="/cor" class="has-status-icon" >ACME Widgets Inc</a>
                  </span>
               </td>
               <td class="">
                  <span class="column-label">FM Policy No</span>
                  <span>1000001</span>
               </td>
               <td class="">
                  <span class="column-label">Count</span>
                  <span>F-2019-123456</span>
               </td>
               <td class="">
                  <span class="column-label">Effective Dates</span>
                  <span>01-Apr-2019 / 01-Apr-2020</span>
               </td>
               <td class="column-actions w-full">
                  <div class="btn-group action-more table-js--parent relative ">
                     <a class="dropdown-toggle px-6 table-js--toggle">Action Required</a>
                     <ul class="dropdown-menu bg-white list-reset shadow w-32 absolute">
                        <li>
                           <a href="">Edit</a>
                        </li>
                        <li class="warning">
                           <a href="#">Delete</a>
                        </li>
                     </ul>
                  </div>
               </td>
            </tr>

         </tbody>
      </table>
   </div>
</div>