<div class="w-1/4 bg-grey-lighter">
   <div class="bg-grey-lightest w-full mb-6 p-4 h-full">
      <div>
         <h4 class="font-thin text-grey-darker mb-24">Activity Log</h4>
      </div>
      {% include "components/log/entry/activity-normal.njk" %}
      {% include "components/log/entry/activity-normal-sm.njk" %}
   </div>
</div>