<div class="w-1/4 bg-grey-lighter">
   <div class="bg-grey-lightest w-full mb-6 p-4 h-full">
      <div>
         <h4 class="font-thin text-grey-darker mb-24">Activity Log</h4>
      </div>
      <div class="bg-white shadow border-solid border-t-4 border-red p-3">
         <div class="border-grey-lighter border-b-2 mb-4">
            <h5 class="uppercase text-red-light text-xs text-wide tracking-wide font-bold">Unsaved Change</h4>
            <h5 class="text-grey-darker text-xs text-wide tracking-wide font-bold">Changes</h5>
            <ul class="mb-4">
               <li class="text-grey-darker text-sm font-medium">Check our latest offer! 50% ON the COMPONENTS!</li>
               <li class="text-grey-darker text-sm font-medium">Check our latest offer</li>
            </ul>
            <h6 class="mb-2">Time Stamp 10/10/10</h6>
            <p class="mb-6 text-grey-darker font-medium text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
         </div>
         <div class="border-grey-lighter border-b-2 mb-4">
            <h5 class="uppercase text-red-light text-xs text-wide tracking-wide font-bold">Edits Made</h4>
            <h5 class="text-grey-darker text-xs text-wide tracking-wide font-bold">Changes</h5>
            <ul class="mb-4">
               <li class="text-grey-darker text-sm font-medium">Check our latest offer! 50% ON the COMPONENTS!</li>
               <li class="text-grey-darker text-sm font-medium">Check our latest offer</li>
               <li class="text-grey-darker text-sm font-medium">Check our latest offer! 50% ON the COMPONENTS!</li>
               <li class="text-grey-darker text-sm font-medium">Check our latest offer</li>
            </ul>
            <h6 class="mb-2">Time Stamp 9/10/09</h6>
            <p class="mb-6 text-grey-darker font-medium text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
         </div>
         <div>
            <h5 class="text-blue text-xs text-wide tracking-wide font-bold">Reply</h5>
            <textarea class="text-xs appearance-none block w-full text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="story" name="story" rows="5" cols="33"></textarea>
         </div>
         <button class="bg-blue text-white px-3 py-2 mt-4">Actions</button>
      </div>
   </div>
</div>