{# Comments Parent To Loop Over #}
{% for group in comments %}
   {% for item in group.thread %}
   {# Thread #}
      <div class="activity-entry ">
         <div class="activity-entry__tab activity-entry__tab--expanded ">
            <h4 class="activity-entry__status ">Status Changes</h4>
            <button>
               <svg class="w-6 h-6 text-grey fill-current " viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                     <g id="icon-shape">
                        <polygon id="Combined-Shape" points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8"></polygon>
                     </g>
                  </g>
               </svg>
            </button>
         </div>
         <div class="activity-entry__log">
            {# Comment Section #}
            <div class="activity-entry__post border-grey-lighter border-b-2 mb-4">

               <h4 class="activity-entry__status mb-3">Saved Changes</h4>
               <h5 class="">Changes</h5>

               {# To loop thru #}
               <ul class="mb-4 pl-6">
                  {% for item in item.comment.change %}
                     <li class="text-grey-darker text-sm font-medium">{{ item.sentence }} <a href="{{ item.link }}">{{ item.event }}.</a></li>
                  {% endfor %}
               </ul>
               <div class="flex justify-between">
                  <h6 class="mb-2 text-xs text-grey-dark">Posted: <span class="inline-block text-blue">{{ item.comment.origin_timestamp }}</span></h6>
                  <h6 class="mb-2 text-xs text-grey-dark">Original: <span class="inline-block text-blue">{{ item.comment.origin_name }}</span></h6>
               </div>
               {# Messages #}
               <div class="activity-entry__thread">
                  {% for item in item.comment.message %}
                  <div class="activity-entry__comment">
                     <div class="activity-entry__id flex justify-between">
                        <h6 class="mb-2 text-xs text-grey-dark">{{ item.name }}</h6>
                        <h6 class="mb-2 text-xs text-grey-dark">{{ item.timestamp }}</h6>
                     </div>
                     <p class="mb-6 text-grey-darker font-medium text-sm bg-grey-lightest py-1 px-1">{{ item.text }}</p>
                  </div>
                  {% endfor %}
               </div>
            </div>
            {# Reply to Thread #}
            <div>
               {%if item.comment.message %}<h5 class="text-blue text-xs text-wide tracking-wide font-bold uppercase mb-2">Reply to Thread</h5>{% endif %}
               <textarea class="text-sm appearance-none block w-full text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="story" name="story" rows="5" cols="33"></textarea>
            </div>
            <a href="/policies/policy-6/" class="inline-block uppercase font-bold text-sm text-blue hover:text-blue-dark py-2 mb-3">Add Comment</a>
         </div>
      </div>
   {% endfor %}
{% endfor %}